@model MyBudget.ViewModel.BalancesVm


<div class="row">
    <div class="col-md-4">
        @Html.Partial("~/Views/Projection/CurrentPeriodBalance.cshtml", Model);
    </div>
    @*<div class="col-md-1"></div>*@
    <div class="col-md-6">
        @Html.Partial("~/Views/Projection/TillDateBalance.cshtml", Model);
    </div>
</div>

@Html.Partial("~/Views/Projection/PeriodBalances.cshtml", Model.PeriodBalances);
